<% if(!user) %>
<p> Welcome to my page. please <a href="/login"> LOGIN</a> </p>
<% } else {%>
    <p>Hello 
        <%= user.username %>. View your
            <a href="/profile"> Profile here</a>
            
    </p>
    <% } %>